body {
    height: 100%;
    width: 100%;
    margin:0;
}

.main{
    margin-top: 15px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.card{
    border: none;
}
.ts{
    width: 150px;
    height: 200px;
    margin: 20px 40px 20px 110px;
    border: none;
}
.title{
    text-align: center;
    color: #343a40;
}
.icon-1{
    height:20px;
    width: 28px;
}
.progress{
    background: rgb(114, 113, 113);
    height: 10px;
    width: 80px;
}
.progress1{
    background: rgb(114, 113, 113);
    height: 10px;
    width: 75px;
}
.progress2{
    background: rgb(114, 113, 113);
    height: 10px;
    width: 70px;
}
.progress3{
    background: rgb(114, 113, 113);
    height: 10px;
    width: 78px;
}
.progress4{
    background: rgb(114, 113, 113);
    height: 10px;
    width: 72px;
}
.progress-bar{
    background: #CDCDCF;
    height: 10px;
    margin-top: 5px;
    width: 100px;
}
.ui{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    background-color: #f8f9fa;
}
.card-header{
    background-color: #ffe521;
}